.title {
  display: flex;
}
.counter {
  color: grey;
  font-size: 22px;
  font-weight: 500;
  margin-left: 10px;
}
.titleWrapper h1 {
  font-weight: 800;
}
.cardContainer {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 20px;
}
